<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Bee Service Car Care</title>
    <meta name="description" content="Bee service" />
    <meta name="keywords" content="Bee Service Car Wash Waxing" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=1">

    <link rel="shortcut icon" href="shortcut.ico" type="image/x-icon" />

    <link href="~/Content/style.css" rel="stylesheet" />

    <!--[if lt IE 7]> <div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;'> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div> <![endif]-->

    <meta charset="UTF-8">
    <title>First</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    <script src="~/Scripts/App/app.js"></script>
    
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>


    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>

</head>
<body>
    <div class="container" style="background-color:beige">

        <header>
            <a href="http://bpmex.com//"><img src="~/Content/Images/logo.jpg" height=100 width=100></a>
            <nav>
                <ul class="nav nav-pills">
                    <li><a href="#" title="Home">Home</a></li>
                    <li><a href="#" title="Work">Work</a></li>
                    <li><a href="#" title="Clients">Clients</a></li>
                    <li><a href="#" title="Contact">Contact</a></li>
                    <li><a href="#" title="Admin">Admin </a></li>
                </ul>
            </nav>
        </header>

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Bee Car Service</p>
            </footer>
        </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>