body {
    color: #212121;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url('/Content/images/bg_pattren.png') repeat fixed;
    background-color: #000;
}
.container {
    padding: 0;
}
hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #DADADA;
}
.navbar-default {
    background-color: #0085EF;
    background-image: url('/Content/images/car_watermark1.png');
    background-repeat: no-repeat;
    background-position: 95% 10%;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background-color: rgba(4, 95, 125, 0.75);
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
}
.navbar-brand {
    padding-top: 0px;
}
.navbar-brand>img {
    position: relative;
    top: -10px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(153, 153, 153, 0.8);
    -moz-box-shadow: 0px 1px 5px 0px rgba(153, 153, 153, 0.8);
    box-shadow: 0px 1px 5px 0px rgba(153, 153, 153, 1);
}
.navbar-toggle {
    border-radius: 0px;
    background-color: transparent;
    border: none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-width: 1px;
    border-color: #105B74;
}
.main_container {
    background: url('/Content/images/bee_watermark.png') no-repeat 95% 90%;
    background-color: rgba(255, 255, 255, 1.0);
    margin: 2px 0px 2px;
}
.footer {
    background-color: rgba(245, 245, 245, 0.15);
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 12px;
    color: #888;
}
.footer li > a {
    color: #888;
    text-decoration: none;
}
.footer li {
    border-right: 1px solid #999;
    line-height: 10px;
}
.footer li:last-child {
    border-right: 0px solid #999;
}
.footer ul {
    margin-bottom: 0px;
}
.btn_scrn,
.login_scrn {
    background: url('/Content/images/bg_image_lg.jpg') no-repeat center center;
    background-size: cover;
}
.main_btns {
    text-align: center;
}
.main_btns>li {
    padding-bottom: 10px;
}
.main_btns>li>a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-size: 14px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}
.main_btns>li>a {
    color: #fff;
    background: rgba(0, 96, 128, 0.95);
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 25px;
}
.main_btns>li>a:hover,
.main_btns>li>a:focus {
    color: #212121;
    background: rgba(230, 230, 230, 1.0);
    border: 2px solid rgba(0, 0, 0, 0.5);
}
.well {
    background-color: #fff!important;
    border-radius: 0!important;
    border: none!important;
}
.well.login-box {
    width: 300px;
}
.well.login-box legend {
    font-size: 26px;
    text-align: center;
    font-weight: 300;
}
.well.login-box label {
    font-weight: 300;
    font-size: 16px;
}
.well.login-box input[type="text"] {
    box-shadow: none;
    border-color: #ddd;
    border-radius: 0;
}
.service_selection {
    padding: 20px 15px;
}
.service_selection .panel-primary .panel-heading {
    padding: 0px 15px;
    border-bottom: 1px solid transparent;
}
.service_selection .panel-primary .nav-tabs {
    border: none;
}
.service_selection .panel-primary .nav-tabs>li>a {
    border: none;
    color: #fff;
    border-radius: 2px 2px 0 0;
    text-transform: uppercase;
}
.service_selection .panel-success {
    border-color: #182961;
}
.service_selection .panel-success .panel-heading {
    color: #fff;
    background-color: #182961;
    border-color: #182961;
}
.service_selection .panel-success .table {
    margin: 0;
}
.service_selection .panel-success .table>thead>tr>th {
    border-bottom: 1px solid #A0B842;
}
.service_selection .panel-success .table>tfoot>tr>th {
    border-top: 1px solid #A0B842;
}
.service_selection .panel-success .table>tbody>tr>td {
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: top;
    border: none;
}
.service_selection .panel-success .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #F7FFD8;
}
.service_selection .nav-tabs>li.active>a,
.service_selection .nav-tabs>li.active>a:focus,
.service_selection .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #fff;
}
.service_selection .nav>li>a:focus,
.service_selection .nav>li>a:hover {
    background-color: transparent;
}
.service_selection .panel-body{
    font-size: 0.9em;
}
.service_selection.form-group label {
    font-weight: normal;
}
.services_template {
    margin-bottom: 5px;
    background-color: #F9F9F9;
    border: 1px solid rgba(53, 71, 86, 0.2);
    padding: 8px;
    border-radius: 5px 5px 0 0;
}
.services_template:last-child {
    margin-bottom: 0px;
}
.services_template>p:first-child {
    font-weight: bold;
}
.services_template .sbox {
    margin: 0;
    margin-bottom: 2px;
    padding: 0px;
    padding-top: 10px;
    background-color: rgba(51, 122, 183, 0.1);
}
.services_template .sbox .items{
    margin-bottom: 12px;
}
.services_template .sbox>div:first-child{
    color: #004886;
    font-weight: bold;
}
.services_template label{
    padding-left: 0;
}
.services_template .checkbox-inline {
    padding-left: 10px;
}
.services_template input[type="radio"], .services_template input[type="checkbox"]{
}
.services_template span.check_select{
    display: inline-block;
    margin: 0px;
    margin-right: 8px;
    width: 14px;
    height: 14px;
    background: url('/Content/images/icons/check.png') no-repeat 0px 0px;
    vertical-align: middle;
}
.services_template input[type="checkbox"]:checked~span.check_select{
    background: url('/Content/images/icons/check.png') no-repeat 0px -14px;
}
.services_template input[type="radio"]~span.caption, .services_template input[type="checkbox"]~span.caption{
    font-weight: bold;
    margin-left: 5px;
    vertical-align: text-top;
}
.services_template input[type="radio"]:checked~span.caption, .services_template input[type="checkbox"]:checked~span.caption{
    color: #E00000;
}
.services_template input[type="radio"]+img{
    width: 48px;
    height: 24px;
}
#profile input[type="radio"], #profile input[type="checkbox"]{
    margin-top: 2px;
}
#profile label.radio-inline{
    margin-left: 10px;
}

.sublist {
    font-size: 11px;
    color:#999;
    padding-left:15px;
}
@media (min-width: 768px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 20px;
    }
    .navbar-nav {
        float: left;
        margin: 0px;
    }
    .navbar-nav>li>a {
        padding: 22px 15px;
        margin-left: 1px;
    }
    .navbar-nav>li:last-child>a {
        margin-left: 0px;
    }
    .main_container,
    .btn_scrn,
    .login_scrn {
        min-height: 500px;
    }
    .main_btns {
        margin-top: 215px;
    }
    .well.login-box {
        margin: 35px auto;
        margin-right: 35px;
    }
}
@media (max-width: 767px) {
    .navbar-default {
        background-image: none;
    }
    .navbar-brand {
        overflow: hidden;
        padding-left: 10px;
    }
    .navbar-brand>img {
        top: -5px;
        width: 65%;
    }
    .main_container,
    .btn_scrn {
        min-height: 300px;
    }
    .footer ul {
        margin-top: 10px;
    }
    .footer .text-left,
    .footer .text-right {
        float: none;
        text-align: center;
    }
    .main_btns {
        margin-top: 90px;
    }
    .well.login-box {
        margin: 15px auto;
    }
}