<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Work\BeeCarService\BeeCarService.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>BeeService</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BeeServiceEntities2" Order="1" Enabled="False">
          <Destination Path="Data Source=184.168.47.21;Initial Catalog=BEEDB;Integrated Security=False;User ID=beeAdminUser;Password=Cvd84h&amp;1;Application Name=EntityFramework" Name="Data Source=184.168.47.21;Initial Catalog=BEEDB;Integrated Security=False;User ID=beeAdminUser;Password=Cvd84h&amp;1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BeeCarService.Data.BeeServiceEntities2, BeeCarService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BeeServiceDBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=184.168.47.21;Initial Catalog=BEEDB;Integrated Security=False;User ID=beeAdminUser;Password=Cvd84h&amp;1;Application Name=EntityFramework" Name="Data Source=184.168.47.21;Initial Catalog=BEEDB;Integrated Security=False;User ID=beeAdminUser;Password=Cvd84h&amp;1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=chippy\sqlexpress;Initial Catalog=BeeService;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BeeServiceDBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.BeeServiceDBContext.csdl|res://*/Data.BeeServiceDBContext.ssdl|res://*/Data.BeeServiceDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chippy\sqlexpress;initial catalog=BeeService;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BeeServiceEntities1" Order="3" Enabled="False">
          <Destination Path="Data Source=184.168.47.21;Initial Catalog=BEEDB;Integrated Security=False;User ID=beeAdminUser;Password=Cvd84h&amp;1;Application Name=EntityFramework" Name="Data Source=184.168.47.21;Initial Catalog=BEEDB;Integrated Security=False;User ID=beeAdminUser;Password=Cvd84h&amp;1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=chippy\sqlexpress;Initial Catalog=BeeService;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BeeServiceEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.BeeCarService.csdl|res://*/Data.BeeCarService.ssdl|res://*/Data.BeeCarService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chippy\sqlexpress;initial catalog=BeeService;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BeeServiceEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=184.168.47.21;Initial Catalog=BEEDB;Integrated Security=False;User ID=beeAdminUser;Password=Cvd84h&amp;1;Application Name=EntityFramework" Name="Data Source=184.168.47.21;Initial Catalog=BEEDB;Integrated Security=False;User ID=beeAdminUser;Password=Cvd84h&amp;1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=chippy\sqlexpress;Initial Catalog=BeeService;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BeeServiceEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/fonts.BeeCarServiceContext.csdl|res://*/fonts.BeeCarServiceContext.ssdl|res://*/fonts.BeeCarServiceContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chippy\sqlexpress;initial catalog=BeeService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BeeServiceDBContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.BeeServiceDBContext.csdl|res://*/Data.BeeServiceDBContext.ssdl|res://*/Data.BeeServiceDBContext.msl;provider=System.Data.SqlClient;provider connection string="Data Source=184.168.47.21;Initial Catalog=BEEDB;Integrated Security=False;User ID=beeAdminUser;Password=Cvd84h&amp;1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BeeServiceEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/fonts.BeeCarServiceContext.csdl|res://*/fonts.BeeCarServiceContext.ssdl|res://*/fonts.BeeCarServiceContext.msl;provider=System.Data.SqlClient;provider connection string="data source=184.168.47.21;initial catalog=BEEDB;integrated security=False;user id=beeAdminUser;password=Cvd84h&amp;1;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BeeServiceEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.BeeCarService.csdl|res://*/Data.BeeCarService.ssdl|res://*/Data.BeeCarService.msl;provider=System.Data.SqlClient;provider connection string="Data Source=184.168.47.21;Initial Catalog=BEEDB;Integrated Security=False;User ID=beeAdminUser;Password=Cvd84h&amp;1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BeeServiceEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.BeeServiceConnection.csdl|res://*/Data.BeeServiceConnection.ssdl|res://*/Data.BeeServiceConnection.msl;provider=System.Data.SqlClient;provider connection string="Data Source=184.168.47.21;Initial Catalog=BEEDB;Integrated Security=False;User ID=beeAdminUser;Password=Cvd84h&amp;1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>