
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_container" style="vertical-align:central">
    <div class="row">
        <div class="col-sm-6" style="display:table-cell; vertical-align:middle; text-align:center">
            <img src="~/Content/Images/bee_logo.gif" width="300" height="300" style="vertical-align:central" />
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h2 class="content-title">About Us</h2>
                <div class="row">
                    <!-- begin col-6 -->
                    <div class="col-md-10" data-animation="true" data-animation-type="fadeInLeft">
                        <p>newly stablished in 2014</p>
                        <p>core business mobile cleaning services</p>
                        <p>pure kuwaiti management and founded in kuwait</p>
                        <p>top quality italian products for car care (Top Tier)</p>
                        <p>automated service delivery  - submitted --- you get it</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
