@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Home", "Service", FormMethod.Post))
{
    <div class="main_container">
        <div class="btn_scrn">
            <div class="row">
                <div class="col-sm-7 col-sm-offset-5 col-md-5 col-md-offset-7">
                    <ul class="list-inline main_btns">
                        <li><a href="/Service/listServiceRequests" class="btn btn-border btn-lg">MY Service Requests</a></li>
                        <li><a href="/Service/Index" class="btn btn-white btn-lg">Request a Service</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

