@model BeeCarService.Models.SRClientModel
@{
    ViewBag.Title = "Index";
}

    <script type="text/javascript">
        var vehMasterData = @Html.Raw(Model.MasterData);
        var serverOutputData = @Html.Raw(Model.ClientSR);

        var myTitle='Test Test';
        $(document).ready(function () {

            var eventData;
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: '2015-09-21',
                selectable: true,
                selectHelper: true,
                unselectAuto: true,
                select: function (start, end) {
                    $('#calendar').fullCalendar('removeEvents');
                    var title = myTitle;
                    if (title) {
                        eventData = {
                            title: title,
                            start: start,
                            end: end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                    }
                },
                editable: true,
                eventLimit: true // allow "more" link when too many events
            });

        });

</script>
<style>
    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>

    @*<link rel="stylesheet" href="css/fullcalendar.css">
        <link rel="stylesheet" href="css/calendarDemo.css" />*@

    <!-- <script src="script/jquery.min.js"></script> -->

    @*<script src="script/moment.min.js"></script>
        <script src="script/fullcalendar.js"></script>
        <script src="script/gcal.js"></script>
        <script src="script/calendar.js"></script>
        <script src="script/calendarDemo.js"></script>*@

        <div ng-app="service" class="textContentBox clearfix" ng-controller="MasterDataController as mdCtrl" ng-init="loadRequests()">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="{{currentStep==1 ? 'active' : ''}}"><a data-toggle="tab">Vehicle Summary</a></li>
                                <li class="{{currentStep==2 ? 'active' : ''}}"><a data-toggle="tab">Select Service(s)</a></li>
                                <li class="{{currentStep==3 ? 'active' : ''}}"><a data-toggle="tab">Select Time</a></li>
                                <li class="{{currentStep==4 ? 'active' : ''}}"><a data-toggle="tab">Profile</a></li>
                                <li class="{{currentStep==5 ? 'active' : ''}}"><a data-toggle="tab">Finish</a></li>
                            </ul>
                        </div>
                        
                        <div class="panel-body">
                            <div class="tab-content">
                                <div ng-view></div>

                                <div ng-show="currentStep==1">
                                    <h4>Vehicle Summary</h4>
                                    <div class="form-group" name="vehCountForm">
                                        Please provide number of vehicles requiring service: <input type="number" name="vehCount" ng-model="vehicleCount" required>
                                        <span style="color:red" ng-show="vehCountForm.vehCount.$error.required">Vehicle count is required.</span>
                                        <span class="pull-right">
                                            <a href="#"><button name="buildRequests" ng-disabled="vehCountForm.vehCount.$error.required" ng-click="buildRequests(); currentStep=2;" class="btn btn-primary btn-sm">Next</button></a>
                                        </span>
                                    </div>
                                </div>

                                <div ng-show="currentStep==2">
                                    <div ng-repeat="requestData in outputData.serviceRequestVehicles"  class="well table-bordered" style="font-size:12px" >
                                        Vehicle # {{$index+1}}
                                        <div class="well-sm table-bordered">
                                            <div class="row">
                                                <div class="col-xs-2">Choose One:</div>
                                                <div class="col-xs-1" ng-repeat="vehicleType in masterData">
                                                    <input name="vehicleType_{{$index}}" type="radio" ng-value="vehicleType.id" ng-model="requestData.vehicleTypeID" ng-click="vehicleTypeSelected(requestData)" /><img src="/Content/Images/{{vehicleType.type}}.jpg" width=50 height=30 /> {{vehicleType.type}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="well-sm table-bordered"  ng-show="requestData.showVehicleClasses">
                                            <div class="row">
                                                <div class="col-xs-2">Vehicle Type : </div>
                                                <div class="col-xs-1" ng-repeat="vehClass in getSelectedVehType(requestData.vehicleTypeID).classes">
                                                    <input type="radio" name="vehicleClass_{{$parent.$index}}_{{$index}}" ng-value="vehClass.id" ng-model="requestData.vehicleClassID" ng-click="vehicleClassSelected(requestData)" /><img src="/Content/Images/{{vehicleClass.name}}.jpg" width=50 height=30 />{{vehClass.name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="well-sm table-bordered" ng-show="requestData.showVehicleServices">
                                            <div class="row">
                                                <div class="col-xs-2">Service Type : </div>
                                                <div class="col-xs-1" ng-repeat="vehService in getSelectedVehClass(requestData.vehicleTypeID,requestData.vehicleClassID).services">
                                                    <input type="radio" name="vehService_{{$parent.$index}}_{{$index}}" ng-value="vehService.id" ng-model="requestData.serviceTypeID" ng-click="vehicleServiceSelected(requestData)">{{vehService.name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="well-sm table-bordered" ng-show="requestData.showVehicleAddons && requestData.serviceTypeID != undefined && requestData.serviceTypeID != 0">
                                            <div class="row">
                                                <div class="col-xs-2">Add On : </div>
                                                <div class="col-xs-1" ng-repeat="vehAddon in getSelectedVehServiceType(requestData.vehicleTypeID,requestData.vehicleClassID,requestData.serviceTypeID).addons">
                                                    <input type="checkbox" name="vehAddon_{{$parent.$index}}_{{$index}}" value={{vehAddon.id}} ng-checked="{{requestData.vehicleAddonIDs.indexOf(vehAddon.id) > -1}}" ng-click="toggleSelection(requestData, vehAddon.id)">{{vehAddon.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="pull-right">
                                        <a href="#">
                                            <button name="prevToService" ng-click="currentStep=1;" class="btn btn-primary btn-sm">Previous</button>
                                        </a>
                                        <a href="#">
                                            <button name="saveService" ng-click="currentStep=3;" class="btn btn-primary btn-sm">Next</button>
                                        </a>
                                    </span>
                                </div>

                                <div ng-show="currentStep==3">
                                    <h4>Choose Date/Time</h4>
                                    <div id='calendar'></div>
                                    <span class="pull-right">
                                        <a href="#">
                                            <button name="prevToTime" ng-click="currentStep=2;" class="btn btn-primary btn-sm">Previous</button>
                                        </a>
                                        <a href="#">
                                            <button name="saveTime" ng-click="currentStep=4;" class="btn btn-primary btn-sm">Next</button>
                                        </a>
                                    </span>
                                </div>
                                <div ng-show="currentStep==4">
                                    <div ng-form name="profileForm" role="form">
                                        <div class="form-group col-sm-12" ng-class="{ 'has-error': profileForm.fullName.$touched && profileForm.fullName.$invalid }">
                                            <label class="col-sm-3 control-label" for="fullName">Name{{outputData.beeUser.fullName}}:</label>
                                            <div class="col-sm-4">
                                                <input class="form-control input-sm" type="text" name="fullName" ng-model="outputData.beeUser.fullName" required>
                                            </div>
                                            <div class="help-block" ng-messages="profileForm.fullName.$error" ng-if="profileForm.fullName.$touched">
                                                <p ng-message="required">Name is required.</p>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12" ng-class="{ 'has-error': profileForm.address.$touched && profileForm.address.$invalid }">
                                            <label class="col-sm-3 control-label" for="address">Address:</label>
                                            <div class="col-sm-9">
                                                <input class="form-control input-sm" type="text" name="address" ng-model="outputData.beeUser.address" required>
                                            </div>
                                            <div class="help-block col-sm-offset-3" ng-messages="profileForm.address.$error" ng-if="profileForm.address.$touched">
                                                <p ng-message="required">Address is required.</p>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12" ng-class="{ 'has-error': profileForm.phone.$touched && profileForm.phone.$invalid }">
                                            <label class="col-sm-3 control-label" for="phone">Phone number:</label>
                                            <div class="col-sm-4">
                                                <input class="form-control input-sm" type="text" name="phone" ng-model="outputData.beeUser.phone" required>
                                            </div>
                                            <div class="help-block" ng-messages="profileForm.phone.$error" ng-if="profileForm.phone.$touched">
                                                <p ng-message="required">Phone number is required.</p>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12" ng-class="{ 'has-error': profileForm.email.$touched && profileForm.email.$invalid }">
                                            <label class="col-sm-3 control-label" for="email">Email:</label>
                                            <div class="col-sm-6">
                                                <input class="form-control input-sm" type="email" name="email" ng-model="outputData.beeUser.email" required>
                                            </div>
                                            <div class="help-block" ng-messages="profileForm.email.$error" ng-if="profileForm.email.$touched">
                                                <p ng-message="required">Email is required.</p>
                                                <p ng-message="email">Please enter valid Email.</p>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-sm-3 control-label" for="landmark">Landmark:</label>
                                            <div class="col-sm-4">
                                                <input class="form-control input-sm" type="text" name="landmark" ng-model="outputData.beeUser.landmark">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-sm-3 control-label" for="message">Message:</label>
                                            <div class="col-sm-4">
                                                <textarea class="form-control input-sm" name="message" ng-model="outputData.beeUser.message"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-sm-3 control-label" for="contactPreference">Contact Preference:</label>
                                            <div class="col-sm-4">
                                                <input type="radio" name="contactPreference" value="1" ng-model="outputData.beeUser.contactPreference">Phone
                                                <input type="radio" name="contactPreference" value="2" ng-model="outputData.beeUser.contactPreference">Email
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-sm-3 control-label" for="textNotifications">Text Notifications:</label>
                                            <div class="col-sm-4">
                                                <input type="checkbox" name="textNotifications" ng-model="outputData.beeUser.textNotifications">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-sm-3 control-label" for="paymentMode">Payment Mode:</label>
                                            <div class="col-sm-4">
                                                <input type="radio" name="paymentMode" value="1" ng-model="outputData.beeUser.paymentMode">Cash
                                                <input type="radio" name="paymentMode" value="2" ng-model="outputData.beeUser.paymentMode">Credit Card
                                            </div>
                                        </div>
                                        <span class="pull-right">
                                            <a href="#"><button name="prevToProfile" ng-disabled="vehCountForm.vehCount.$error.required" ng-click="currentStep=3;" class="btn btn-primary btn-sm">Previous</button></a>
                                            <a href="#"><button name="saveProfile" ng-click="currentStep=5;saveServiceRequest();" class="btn btn-primary btn-sm">Order Now</button></a>
                                        </span>
                                    </div>
                                </div>
                                <div ng-show="currentStep==5">
                                    Your service request has been registered successfully. Find below the details.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4"  ng-show="currentStep<5">
                    <div class="orderRightInnerBlock">
                        <h2>Service Order Summary</h2>
                        <table class="tableStyle marginTop15" id="minicart">
                            <thead>
                                <tr>
                                    <th class="w40P first">Veh. Type
                                    <th class="w40P">Service</th>
                                    <th class="w20P">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-hide="outputData.serviceRequestVehicles.length>0" id="emptymsg">
                                    <td colspan="3" class="w40`P first">No Service Selected</td>
                                </tr>
                                <tr ng-repeat="requestData in outputData.serviceRequestVehicles">
                                    <td colspan="1" class="w40P first">{{getSelectedVehType(requestData.vehicleTypeID).type}}</td>
                                    <td colspan="1" class="w40P first">
                                        <p ng-if="requestData.serviceTypeID != undefined && requestData.serviceTypeID != 0">{{getSelectedVehServiceType(requestData.vehicleTypeID, requestData.vehicleClassID,requestData.serviceTypeID).name}}</p>
                                        <ul>
                                            <li ng-repeat="serviceAddonID in requestData.vehicleAddonIDs">
                                                {{getSelectedVehServiceAddon(requestData.vehicleTypeID, requestData.vehicleClassID,requestData.serviceTypeID, serviceAddonID).name}} ({{getSelectedVehServiceAddon(requestData.vehicleTypeID, requestData.vehicleClassID,requestData.serviceTypeID, serviceAddonID).cost}}KD)
                                            </li>
                                        </ul>
                                    </td>
                                    <td colspan="1" class="ttlprice subtotal" >{{getCostForRequest(requestData)}} KD</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="totalP grnd">
                                    <td class="ttlHead" colspan="2">Total  : </td>
                                    <td class="ttlprice grandtotal" colspan="1"> {{calculateTotalCost()}} KD</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

<script>




/*
window.onerror = function(errorMsg) {
	$('#console').html($('#console').html()+'<br>'+errorMsg)
}*/

$('#datetimepicker').datetimepicker({ dayOfWeekStart : 1, lang:'en', disabledDates:['1986/01/08','1986/01/09','1986/01/10'], startDate:	'2015/09/16' });

$('#datetimepicker').datetimepicker({value:'2015/04/15 05:03',step:10});

$('.some_class').datetimepicker();

$('#default_datetimepicker').datetimepicker({
	formatTime:'H:i',
	formatDate:'d.m.Y',
	//defaultDate:'8.12.1986', // it's my birthday
	defaultDate:'+03.01.1970', // it's my birthday

defaultTime:'10:00',
	timepickerScrollbar:false
});

$('#datetimepicker10').datetimepicker({	step:5,	inline:true});

$('#datetimepicker_mask').datetimepicker({	mask:'9999/19/39 29:59'});


$('#datetimepicker_dark').datetimepicker({theme:'dark'})

</script>

