@{
    ViewBag.Title = "ListServiceRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="main_container mainScreen">
    <div class="service_selection" ng-app="service" ng-controller="ListServiceRequestCtrl as lstSerReqCtrl" ng-init="getExistingServiceRequests()">

        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-9">
                    <strong class="panel-title">Service Requests</strong>
                </div>
                <div class="col-sm-3">
                    <a ng-href="/Service/RequestService" class="btn btn-primary pull-right">Create Service Request</a>
                </div>
            </div>
        </div>

        <div class="panel panel-primary main-panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-2">Service Request ID</div>
                    <div class="col-xs-3">Start Time</div>
                    <div class="col-xs-2">No. Of Vehicles</div>
                    <div class="col-xs-3">Status</div>
                    <div class="col-xs-2">Action</div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row" style="background-color:white" ng-repeat="serviceRequest in existingServiceRequests">
                    <div class="col-xs-2">SReq-{{serviceRequest.id}}</div>
                    <div class="col-xs-3">{{serviceRequest.formattedStartTime}}</div>
                    <div class="col-xs-2">{{serviceRequest.vehicleCount}}</div>
                    <div class="col-xs-3">{{statusList[serviceRequest.status]}}</div>
                    <div class="col-xs-2">
                        <button ng-disabled="serviceRequest.status>0 || isStarted(serviceRequest.startTime)" name="edit1ServiceRequest_{{serviceRequest.id}}" ng-click="editServiceRequest(serviceRequest.id)" class="btn btn-primary btn-sm">Reschedule</button>
                        <button ng-disabled="serviceRequest.status>0 || isStarted(serviceRequest.startTime)" name="cancelServiceRequest_{{serviceRequest.id}}" ng-click="cancelServiceRequest(serviceRequest.id)" class="btn btn-primary btn-sm">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>