@model String
@{
    ViewBag.Title = "ManageServiceRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script type="text/javascript">
        var serviceCalendarEvents = @Html.Raw(Model);
</script>

<div class="main_container">
    <div ng-app="service" class="service_selection" ng-controller="ListServiceRequestCtrl as lstSerReqCtrl" ng-init="getExistingServiceRequests(true); loadMasterList();  getAllTeams(); loadCalendar();">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <ul class="nav nav-tabs tabbable" role="tablist">
                    <li role="presentation" class="{{adminTab==1 ? 'active' : ''}}"><a href="#" aria-controls="Administration" role="tab" ng-click="adminTab=1">Administration</a></li>
                    <li role="presentation" class="{{adminTab==2 ? 'active' : ''}}"><a href="#" aria-controls="Schedule" role="tab" ng-click="adminTab=2; renderCalender();">Schedule</a></li>
                    <li role="presentation" class="{{adminTab==3 ? 'active' : ''}}"><a href="#" aria-controls="MasterData" role="tab" ng-click="adminTab=3;">MasterData</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div ng-show="adminTab==1" class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="panel panel-primary panel-collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label for="criteriaServiceTeam" class="control-label">Service Team:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <select id="criteriaServiceTeam" class="form-control input-sm" ng-model="criteria.selectedTeamId" ng-change="navigateToPage(1); getExistingServiceRequests(true)">
                                                <option value="0" selected="selected">All Teams</option>
                                                <option ng-repeat="team in allTeams" value="{{team.id}}">{{team.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="criteriaDate" class="control-label">Select Date:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <p class="input-group">
                                                <input id="criteriaDate" name="criteriaDate" class="form-control" type="text" uib-datepicker-popup="{{calendarDateFormat}}" ng-model="criteria.selectedDate" is-open="status.opened" datepicker-options="calendarDateOptions" close-text="Close" show-weeks="false" ng-change="navigateToPage(1); getExistingServiceRequests(true)" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm" ng-click="openDateCriteriaCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="existingServiceRequests.length > 1">
                                <ul class="pagination pagination-sm">
                                    <li><a href="#" ng-click="navigateToPage(criteria.currentPage-1); getExistingServiceRequests(true);" ng-hide="firstPage<=1">&laquo;</a></li>
                                    <li ng-hide="firstPage > noOfPages" class="{{firstPage==criteria.currentPage ? 'active' : ''}}"><a href="#" ng-click="navigateToPage(firstPage); getExistingServiceRequests(true);" ng-disabled="">{{firstPage}}</a></li>
                                    <li ng-hide="(firstPage + 1) > noOfPages" class="{{(firstPage+1)==criteria.currentPage ? 'active' : ''}}"><a href="#" ng-click="navigateToPage(firstPage+1); getExistingServiceRequests(true)">{{firstPage + 1}}</a></li>
                                    <li ng-hide="(firstPage + 2) > noOfPages" class="{{(firstPage+2)==criteria.currentPage ? 'active' : ''}}"><a href="#" ng-click="navigateToPage(firstPage+2); getExistingServiceRequests(true)">{{firstPage + 2}}</a></li>
                                    <li ng-hide="(firstPage + 3) > noOfPages" class="{{(firstPage+3)==criteria.currentPage ? 'active' : ''}}"><a href="#" ng-click="navigateToPage(firstPage+3); getExistingServiceRequests(true)">{{firstPage + 3}}</a></li>
                                    <li ng-hide="(firstPage + 4) > noOfPages" class="{{(firstPage+4)==criteria.currentPage ? 'active' : ''}}"><a href="#" ng-click="navigateToPage(firstPage+4); getExistingServiceRequests(true)">{{firstPage + 4}}</a></li>
                                    <li><a href="#" ng-click="navigateToPage(criteria.currentPage+1); getExistingServiceRequests(true)" ng-hide="(firstPage+4)>=noOfPages">&raquo;</a></li>
                                    <li>Page {{criteria.currentPage}} of {{noOfPages}}</li>
                                </ul>
                                <span class="pull-right text-center">Showing {{((criteria.currentPage - 1) * 20) + 1}} - {{noOfRecords>(criteria.currentPage * 20) ? criteria.currentPage * 20 : noOfRecords}} of {{noOfRecords}} records</span>
                            </div>
                            <div class="panel panel-primary main-panel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">SR#</div>
                                        <div class="col-md-1">Name</div>
                                        <div class="col-md-2">Appt. Time</div>
                                        <div class="col-md-1">Phone</div>
                                        <div class="col-md-1">Vehicles</div>
                                        <div class="col-md-1">Team #</div>
                                        <div class="col-md-1">Status</div>
                                        <div class="col-md-1">Cost(KD)</div>
                                        <div class="col-md-2">Actions</div>
                                    </div>
                                </div>

                                <div class="panel-body" style="padding-top:0px">
                                    <div class="row" ng-hide="existingServiceRequests.length > 1">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">No Service Requests Found</div>
                                    </div>
                                    <div class="row" ng-repeat="serviceRequest in existingServiceRequests">
                                        <div class="col-md-1">
                                            <input type="checkbox" name="selServReq_{{serviceRequest.id}}" value={{serviceRequest.id}} ng-checked="{{selectedServices.indexOf(serviceRequest.id) > -1}}" ng-click="toggleServiceRequestSelection(serviceRequest.id)">
                                        </div>
                                        <div class="col-md-1">SReq-{{serviceRequest.id}}</div>
                                        <div class="col-md-1">{{serviceRequest.customerName}}</div>
                                        <div class="col-md-2">{{serviceRequest.formattedStartTime}}</div>
                                        <div class="col-md-1">{{serviceRequest.customerPhone}}</div>
                                        <div class="col-md-1">{{serviceRequest.vehicleCount}}</div>
                                        <div class="col-md-1">{{serviceRequest.serviceTeamId}}</div>
                                        <div class="col-md-1">{{statusList[serviceRequest.status]}}</div>
                                        <div class="col-md-1">{{serviceRequest.cost|currency:'':3}}</div>
                                        <div class="col-md-2">
                                            <div>
                                                <button ng-disabled="serviceRequest.status>0" name="cancelServiceRequest_{{serviceRequest.id}}" ng-click="cancelServiceRequest(serviceRequest.id)" class="btn btn-primary btn-sm" title="Cancel service request"><i class="glyphicon glyphicon-remove" style="color:red"></i></button>
                                                <button ng-disabled="serviceRequest.status>0" name="start1ServiceRequest_{{serviceRequest.id}}" ng-click="updateServiceRequestStatus(serviceRequest.id, 1)" class="btn btn-primary btn-sm" title="Start service request"><i class="glyphicon glyphicon-play" style="color:green"></i></button>
                                                <button ng-disabled="serviceRequest.status>1" name="completeServiceRequest_{{serviceRequest.id}}" ng-click="updateServiceRequestStatus(serviceRequest.id, 2)" class="btn btn-primary btn-sm" title="Complete service request"><i class="glyphicon glyphicon-ok" style="color:blue"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="criteria.selectedTeamId!=0 && criteria.selectedDate != null && criteria.selectedDate != undefined">
                                        <div class="col-xs-4"><button type="button" class="btn btn-primary btn-xs pull-left" ng-click="delaySelectedServices()">Delay (by 30 mins)</button></div>
                                        <div class="col-xs-8"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div ng-show="adminTab==2" class="row">
                        <div class="col-sm-8">
                            <div class="panel panel-primary main-panel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12">Service Schedule</div>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div id='calendar'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <label class="control-label" for="serviceTeam">ServiceTeam:</label>
                                <select id="teamSelection" ng-model="selectedTeam" ng-change="loadCalendarEvents();">
                                    <option value="0" selected="selected">All Teams</option>
                                    <option ng-repeat="teamCal in calendarEvents" value={{teamCal.serviceTeamID}}>{{teamCal.serviceTeamName}}</option>
                                </select>
                            </div>
                            <div class="panel panel-success" ng-show="selectedServiceData.serviceRequestVehicles!=undefined">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Service Order Summary</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row mainhead">
                                        <div class="col-md-3">Vehicle</div>
                                        <div class="col-md-4">Service</div>
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-6 mainhead">Time(hrs)</div>
                                                <div class="col-md-6 mainhead">Cost(KD)</div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div ng-repeat="requestData in selectedServiceData.serviceRequestVehicles">
                                        <div class="row mainlist">
                                            <div class="col-md-3">{{getSRObject(masterList.vehicleTypes, requestData.vehicleTypeID).type}}</div>
                                            <div class="col-md-4">
                                                <div>{{getSRObject(masterList.serviceTypes, requestData.serviceTypeID).name}}</div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="row">
                                                    <div class="col-md-6 mainlist">{{getSRObject(masterList.serviceTypes, requestData.serviceTypeID).duration/60}} hrs</div>
                                                    <div class="col-md-6 amountRight">{{getSRObject(masterList.serviceTypes, requestData.serviceTypeID).cost|currency:'':3}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row sublist" ng-repeat="serviceAddonID in requestData.vehicleAddonIDs">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-4">
                                                {{getSRObject(masterList.addOns, serviceAddonID).name}}
                                            </div>
                                            <div class="col-md-5">
                                                <div class="row">
                                                    <div class="col-md-6 sublist">{{getSRObject(masterList.addOns, serviceAddonID).duration}} mins</div>
                                                    <div class="col-md-6 amountRight">{{getSRObject(masterList.addOns, serviceAddonID).cost|currency:'':3}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>

                                    <div class="row mainhead">
                                        <div class="col-md-7">Total  : </div>
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-6 mainhead">{{selectedServiceData.serviceDuration}}{{convertDuration(selectedServiceData.serviceDuration)}} hrs</div>
                                                <div class="col-md-6 amountRight">{{selectedServiceData.cost|currency:'':3}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row sublist">
                                        <div class="col-lg-12">30 mins included for the service personal to arrive at the location</div>
                                    </div>
                                </div>
                                <div class="panel-heading">
                                    <h2 class="panel-title">Appointment Details</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="row mainlist">
                                        <div class="col-sm-4">Start: </div>
                                        <div class="col-sm-8">{{selectedServiceData.startTime}}</div>
                                    </div>
                                    <div class="row mainlist">
                                        <div class="col-sm-4">Finish: </div>
                                        <div class="col-sm-8">{{selectedServiceData.endTime}}</div>
                                    </div>
                                    <div class="row mainlist">
                                        <div class="col-sm-4">Status: </div>
                                        <div class="col-sm-8">{{statusList[selectedServiceData.status]}}</div>
                                    </div>
                                </div>
                                <div class="panel-heading">
                                    <h2 class="panel-title">Customer Details</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="row mainlist">
                                        <div class="col-sm-4">Name: </div>
                                        <div class="col-sm-8">{{selectedServiceData.beeUser.fullName}}</div>
                                    </div>
                                    <div class="row mainlist">
                                        <div class="col-sm-4">Address: </div>
                                        <div class="col-sm-8">{{selectedServiceData.beeUser.address}}</div>
                                    </div>
                                    <div class="row mainlist">
                                        <div class="col-sm-4">Phone: </div>
                                        <div class="col-sm-8">{{selectedServiceData.beeUser.phone}}</div>
                                    </div>
                                    <div class="row mainlist">
                                        <div class="col-sm-4">Email: </div>
                                        <div class="col-sm-8">{{selectedServiceData.beeUser.email}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="adminTab==3" class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-primary main-panel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-8">Vehicle Master</div>
                                        <div class="col-md-4">New Master Data</div>
                                    </div>
                                </div>

                                <div class="panel-body" style="padding-top:0px">

                                    <div class="row tab-content">
                                        <div class="col-md-8">
                                            <div>
                                                <a href="#" role="tab" ng-click="newMasterDataType=0;newMasterDataPath='';newMasterDataParentID=0;">New Vehicle</a>
                                            </div>
                                            <div class="row" ng-repeat="vType in masterList.vehicleTypes">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            {{vType.type}}
                                                            <button ng-show="vType.status==0" type="button" class="btn btn-xs" ng-click="enableMasterData(0,vType.id,1)" title="Disable"><i class="glyphicon glyphicon-remove" style="color:red"></i></button>
                                                            <button ng-show="vType.status==1" type="button" class="btn btn-xs" ng-click="enableMasterData(0,vType.id,0)" title="Enable"><i class="glyphicon glyphicon-plus" style="color:darkblue"></i></button>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <a href="#" role="tab" ng-click="$parent.newMasterDataType=1;$parent.newMasterDataPath=vType.type + '-> ' ;$parent.newMasterDataParentID=vType.id;">New Type</a>
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-repeat="vClass in masterList.vehicleClasses | filter: {vehichleTypeID: vType.id}">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-2">
                                                                    {{vClass.name}}
                                                                    <button ng-show="vClass.status==0" type="button" class="btn btn-xs" ng-click="enableMasterData(1,vClass.id,1)" title="Disable"><i class="glyphicon glyphicon-remove" style="color:red"></i></button>
                                                                    <button ng-show="vClass.status==1" type="button" class="btn btn-xs" ng-click="enableMasterData(1,vClass.id,0)" title="Enable"><i class="glyphicon glyphicon-plus" style="color:darkblue"></i></button>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <a href="#" role="tab" ng-click="$parent.$parent.newMasterDataType=2;$parent.$parent.newMasterDataPath=vType.type + '->' + vClass.name + '-> ';$parent.$parent.newMasterDataParentID=vClass.id;">New Service Type</a>
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-repeat="vServiceType in masterList.serviceTypes | filter: {vehicleClassID: vClass.id}">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-3"></div>
                                                                        <div class="col-md-2">
                                                                            {{vServiceType.name}}
                                                                            <button ng-show="vServiceType.status==0" type="button" class="btn btn-xs" ng-click="enableMasterData(2,vServiceType.id,1)" title="Disable"><i class="glyphicon glyphicon-remove" style="color:red"></i></button>
                                                                            <button ng-show="vServiceType.status==1" type="button" class="btn btn-xs" ng-click="enableMasterData(2,vServiceType.id,0)" title="Enable"><i class="glyphicon glyphicon-plus" style="color:darkblue"></i></button>
                                                                        </div>
                                                                        <div class="col-md-7">
                                                                            <a href="#" ng-click="$parent.$parent.$parent.newMasterDataType=3;$parent.$parent.$parent.newMasterDataPath=vType.type + '->' + vClass.name + '-> ' + vServiceType.name + '-> ';$parent.$parent.$parent.newMasterDataParentID=vServiceType.id">New Addon</a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row" ng-repeat="vAddOn in masterList.addOns | filter: {serviceTypeID: vServiceType.id}">
                                                                        <div class="col-md-5"></div>
                                                                        <div class="col-md-7">
                                                                            {{vAddOn.name}}
                                                                            <button ng-show="vAddOn.status==0" type="button" class="btn btn-xs" ng-click="enableMasterData(3,vAddOn.id,1)" title="Disable"><i class="glyphicon glyphicon-remove" style="color:red"></i></button>
                                                                            <button ng-show="vAddOn.status==1" type="button" class="btn btn-xs" ng-click="enableMasterData(3,vAddOn.id,0)" title="Enable"><i class="glyphicon glyphicon-plus" style="color:darkblue"></i></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <hr />
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row" ng-show="newMasterDataType==0">
                                                <H4>New Vehicle</H4>
                                                <label>Vehicle: </label><input ng-model="newType" size="10" maxlength="20" /><br />
                                                <button name="btnAddVehicleType" ng-click="addMasterData(0,'{&quot;type&quot;:&quot;' + newType + '&quot;}')" class="btn btn-primary btn-sm" title="Add Vehicle">Add</button>
                                            </div>
                                            <div class="row" ng-show="newMasterDataType==1">
                                                <H4>{{newMasterDataPath}} New Vehicle Type</H4>
                                                <label>Vehicle Type: </label><input ng-model="newClass" size="10" maxlength="20" /><br />
                                                <button name="btnAddVehicleClass" ng-click="addMasterData(1,'{&quot;name&quot;:&quot;' + newClass + '&quot;}')" class="btn btn-primary btn-sm" title="Add new Vehicle Type">Add</button>
                                            </div>
                                            <div ng-show="newMasterDataType==2">
                                                <H4>{{newMasterDataPath}} New ServiceType</H4>
                                                <label>Service Type: </label><input ng-model="newSTName" size="10" maxlength="20" /><br />
                                                <label>Service Duration: </label><input type="number" ng-model="newSTDuration" size="3" maxlength="3" />Minutes<br />
                                                <label>Service Cost: </label><input type="number" ng-model="newSTCost" size="6" maxlength="6" />KD<br />
                                                <button name="btnAddServiceType" ng-click="addMasterData(2,'{&quot;name&quot;:&quot;' + newSTName + '&quot;,&quot;duration&quot;:' + newSTDuration + ',&quot;cost&quot;:' + newSTCost + '}')" class="btn btn-primary btn-sm" title="Add new Service Type">Add</button>
                                            </div>
                                            <div class="row" ng-show="newMasterDataType==3">
                                                <H4>{{newMasterDataPath}} New Addon</H4>
                                                <label>Addon: </label><input ng-model="newAddOnName" size="10" maxlength="20" /><br />
                                                <label>Addon Duration: </label><input type="number" ng-model="newAddOnDuration" size="3" maxlength="3" /> Minutes<br />
                                                <label>Addon Cost: </label><input type="number" ng-model="newAddOnCost" size="6" maxlength="6" /> KD<br />
                                                <button name="btnAddAddon" ng-click="addMasterData(3,'{&quot;name&quot;:&quot;' + newAddOnName + '&quot;,&quot;duration&quot;:' + newAddOnDuration + ',&quot;cost&quot;:' + newAddOnCost + '}')" class="btn btn-primary btn-sm" title="Save New Addon">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
