@model BeeCarService.Models.SRClientModel
@{
    ViewBag.Title = "RequestService";
}

<script type="text/javascript">
        var vehMasterData = @Html.Raw(Model.MasterData);
        var serverOutputData = @Html.Raw(Model.ClientSR);
        var userLandmarkList = @Html.Raw(Model.Landmarks);
        var serviceCalendarEvents = @Html.Raw(Model.CalendarEvents);
</script>

<div class="main_container">
    <div ng-app="service" class="service_selection" ng-controller="MasterDataController as mdCtrl" ng-init="loadRequests()">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs tabbable" role="tablist">
                            <li role="presentation" class="{{currentStep==1 ? 'active' : ''}}"><a aria-controls="vehicle-summary" role="tab">Vehicle Summary</a></li>
                            <li role="presentation" class="{{currentStep==2 ? 'active' : ''}}"><a aria-controls="select-service" role="tab">Select Service(s)</a></li>
                            <li role="presentation" class="{{currentStep==3 ? 'active' : ''}}"><a aria-controls="select-time" role="tab">Select Time</a></li>
                            <li role="presentation" class="{{currentStep==4 ? 'active' : ''}}"><a aria-controls="profile" role="tab">Profile</a></li>
                            <li role="presentation" class="{{currentStep==5 ? 'active' : ''}}"><a aria-controls="finish" role="tab">Finish</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div ng-show="currentStep==1">
                                <div ng-form name="vehCountForm">
                                    <div class="form-group" ng-class="{ 'has-error': (vehCountForm.vehCount.$dirty || vehCountForm.vehCount.$touched) && vehCountForm.vehCount.$invalid }">
                                        <label class="control-label" for="numberOfVehicles">Click on the number of vehicles you require service for:</label>
                                        <hr />
                                        <input type="button" value="1 Vehicle" ng-click="currentStep=2; vehicleCount=1; buildRequests();" class="btn btn-primary btn-xs" />
                                        <input type="button" value="2 Vehicles" ng-click="currentStep=2; vehicleCount=2; buildRequests();" class="btn btn-primary btn-xs" />
                                        <input type="button" value="3 Vehicles" ng-click="currentStep=2; vehicleCount=3; buildRequests();" class="btn btn-primary btn-xs" />
                                        <input type="button" value="4 Vehicles" ng-click="currentStep=2; vehicleCount=4; buildRequests();" class="btn btn-primary btn-xs" />
                                        <input type="button" value="5 Vehicles" ng-click="currentStep=2; vehicleCount=5; buildRequests();" class="btn btn-primary btn-xs" />
                                    </div>
                                </div>
                            </div>

                            <div ng-show="currentStep==2">
                                <div ng-repeat="requestData in outputData.serviceRequestVehicles" class="services_template">
                                    Vehicle # {{$index+1}}
                                    <div class="row sbox">
                                        <div class="col-xs-2 gridsubhead">Choose One:</div>
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div class="col-xs-3 gridsmall" ng-repeat="vehicleType in masterData">
                                                    <input name="vehicleType_{{$parent.$index}}_{{$index}}" type="radio" ng-value="vehicleType.id" ng-model="requestData.vehicleTypeID" ng-click="vehicleTypeSelected(requestData)" /><img src="/Content/Images/{{vehicleType.type}}.png" ng-click="requestData.vehicleTypeID=vehicleType.id;vehicleTypeSelected(requestData);" /> {{vehicleType.type}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row sbox" ng-show="requestData.showVehicleClasses">
                                        <div class="col-xs-2 gridsubhead">Vehicle Type : </div>
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div class="col-xs-3 gridsmall" ng-repeat="vehClass in getSelectedVehType(requestData.vehicleTypeID).classes">
                                                    <input type="radio" name="vehicleClass_{{$parent.$index}}_{{$index}}" ng-value="vehClass.id" ng-model="requestData.vehicleClassID" ng-click="vehicleClassSelected(requestData)" /><img src="~/Content/Images/{{vehClass.name}}.png" ng-click="requestData.vehicleClassID=vehClass.id; vehicleClassSelected(requestData);" />{{vehClass.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row sbox" ng-show="requestData.showVehicleServices">
                                        <div class="col-xs-2 gridsubhead">Service Type : </div>
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div class="col-xs-3 gridsmall" ng-repeat="vehService in getSelectedVehClass(requestData.vehicleTypeID,requestData.vehicleClassID).services">
                                                    <input type="radio" name="vehService_{{$parent.$index}}_{{$index}}" ng-value="vehService.id" ng-model="requestData.serviceTypeID" ng-click="vehicleServiceSelected(requestData)"><img src="~/Content/Images/car_wash.png" ng-click="requestData.serviceTypeID=vehService.id; vehicleServiceSelected(requestData);" />{{vehService.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row sbox" ng-show="requestData.showVehicleAddons && requestData.serviceTypeID != undefined && requestData.serviceTypeID != 0">
                                        <div class="col-xs-2 gridsubhead">Add On : </div>
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div class="col-xs-3 gridsmall" ng-repeat="vehAddon in getSelectedVehServiceType(requestData.vehicleTypeID,requestData.vehicleClassID,requestData.serviceTypeID).addons">
                                                    <input type="checkbox" id="vehAddon_{{$parent.$index}}_{{$index}}" value={{vehAddon.id}} ng-checked="{{requestData.vehicleAddonIDs.indexOf(vehAddon.id) > -1}}" ng-click="toggleSelection(requestData, vehAddon.id)"><img src="~/Content/Images/car_wash.png" />{{vehAddon.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="pull-right">
                                    <button name="prevToService" ng-click="currentStep=1;" class="btn btn-primary btn-sm">Previous</button>
                                    <button name="saveService" ng-disabled="!allServiceRequestVehiclesValid()" ng-click="currentStep=3; calculateTotalDuration(); findEmptySlots(); renderCalender(); resetEvent(); " class="btn btn-primary btn-sm">Next</button>
                                </span>
                            </div>
                            <div ng-show="currentStep==3">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-10">
                                        <h4>Choose Date/Time</h4>
                                        <div id='calendar'></div>
                                        <div class="row">
                                            <div class="col-md-12 text-warning"><span style="color:red">{{dateSelectErrorMsg}}</span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <span class="pull-right">
                                    <button name="prevToTime" ng-show="outputData.id==undefined" ng-click="currentStep=2;" class="btn btn-primary btn-sm">Previous</button>
                                    <button name="saveTime" ng-show="outputData.id==undefined" ng-click="currentStep=4;" class="btn btn-primary btn-sm">Next</button>
                                    <button name="reschedule" ng-show="outputData.id>0" ng-click="currentStep=5;saveServiceRequest();" class="btn btn-primary btn-sm">Reschedule</button>
                                </span>
                            </div>
                            <div ng-show="currentStep==4">
                                <div ng-form name="profileForm" role="form">
                                    <div class="form-group col-sm-12" ng-class="{ 'has-error': profileForm.fullName.$touched && profileForm.fullName.$invalid }">
                                        <label class="col-sm-3 control-label" for="fullName">Name:<span style="color:red">*</span></label>
                                        <div class="col-sm-4">
                                            <input ng-disabled="userLoggedIn==1" class="form-control input-sm" type="text" name="fullName" ng-model="outputData.beeUser.fullName" required>
                                        </div>
                                        <div class="help-block" ng-messages="profileForm.fullName.$error" ng-if="profileForm.fullName.$touched">
                                            <p ng-message="required">Name is required.</p>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12" ng-class="{ 'has-error': profileForm.address.$touched && profileForm.address.$invalid }">
                                        <label class="col-sm-3 control-label" for="address">Address:<span style="color:red">*</span></label>
                                        <div class="col-sm-9">
                                            <input class="form-control input-sm" type="text" name="address" ng-model="outputData.beeUser.address" required>
                                        </div>
                                        <div class="help-block col-sm-offset-3" ng-messages="profileForm.address.$error" ng-if="profileForm.address.$touched">
                                            <p ng-message="required">Address is required.</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" ng-class="{ 'has-error': profileForm.phone.$touched && profileForm.phone.$invalid }">
                                        <label class="col-sm-3 control-label" for="phone">Phone number:<span style="color:red">*</span></label>
                                        <div class="col-sm-4">
                                            <input class="form-control input-sm" type="text" name="phone" ng-model="outputData.beeUser.phone" required>
                                        </div>
                                        <div class="help-block" ng-messages="profileForm.phone.$error" ng-if="profileForm.phone.$touched">
                                            <p ng-message="required">Phone number is required.</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" ng-class="{ 'has-error': profileForm.email.$touched && profileForm.email.$invalid }">
                                        <label class="col-sm-3 control-label" for="email">Email:<span style="color:red">*</span></label>
                                        <div class="col-sm-6">
                                            <input ng-disabled="userLoggedIn==1" class="form-control input-sm" type="email" name="email" ng-model="outputData.beeUser.email" required>
                                        </div>
                                        <div class="help-block" ng-messages="profileForm.email.$error" ng-if="profileForm.email.$touched">
                                            <p ng-message="required">Email is required.</p>
                                            <p ng-message="email">Please enter valid Email.</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-3 control-label" for="landmark">Landmark:</label>
                                        <div class="col-sm-4">
                                            <select ng-model="selectedLandmark" ng-options="landmark.landmarkLocation for landmark in landmarkList"></select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-3 control-label" for="message">Message:</label>
                                        <div class="col-sm-4">
                                            <textarea class="form-control input-sm" name="message" ng-model="outputData.beeUser.message"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-3 control-label" for="contactPreference">Contact Preference:</label>
                                        <div class="col-sm-4" ng-init="outputData.beeUser.contactPreference=1">
                                            <input type="radio" name="contactPreference" value="1" ng-model="outputData.beeUser.contactPreference">Phone
                                            <input type="radio" name="contactPreference" value="2" ng-model="outputData.beeUser.contactPreference">Email
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-3 control-label" for="textNotifications">Text Notifications:</label>
                                        <div class="col-sm-4">
                                            <input type="checkbox" name="textNotifications" ng-model="outputData.beeUser.textNotifications">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-3 control-label" for="paymentMode">Payment Mode:</label>
                                        <div class="col-sm-4" ng-init="outputData.beeUser.paymentMode=1">
                                            <input type="radio" name="paymentMode" value="1" ng-model="outputData.beeUser.paymentMode">Cash
                                            <input type="radio" name="paymentMode" value="2" ng-model="outputData.beeUser.paymentMode">Credit Card
                                        </div>
                                    </div>
                                    <span class="pull-right">
                                        <button name="prevToProfile" ng-click="showPop(); currentStep=3;" class="btn btn-primary btn-sm">Previous</button>
                                        <button name="saveProfile" ng-disabled="profileForm.$invalid" ng-click="currentStep=5; saveServiceRequest();" class="btn btn-primary btn-sm">Order Now</button>
                                    </span>
                                </div>
                            </div>
                            <div ng-show="currentStep==5 && saveSRResponse.success==undefined">
                                <div class="row">
                                    <div class="alert alert-info">
                                        Please wait while your request is being processed. <img src="~/Content/Images/progress.gif" width="30" height="30">
                                    </div>
                                </div>
                            </div>
                            <div ng-show="currentStep==5 && saveSRResponse.success==0">
                                <div class="row">
                                    <div class="alert alert-danger">
                                        Your service request cannot be registered. Reason: {{saveSRResponse.message}}.
                                    </div>
                                    <span class="pull-right">
                                        <button name="prevToProfile" ng-click="saveSRResponse.success=undefined; currentStep=4;" class="btn btn-primary btn-sm">Previous</button>
                                    </span>
                                </div>
                            </div>
                            <div ng-show="currentStep==5 && saveSRResponse.success==1">
                                <div class="row">
                                    <div class="alert alert-success">
                                        Your service request has been registered <strong>successfully</strong>. Find below the details.
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-2">Vehicle type</div>
                                            <div class="col-xs-1">Class</div>
                                            <div class="col-xs-4">Service</div>
                                            <div class="col-xs-3">Addons</div>
                                            <div class="col-xs-2">Total Price</div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div>
                                            <div class="row" ng-repeat="requestData in outputData.serviceRequestVehicles">
                                                <div class="col-xs-2">{{getSelectedVehType(requestData.vehicleTypeID).type}}</div>
                                                <div class="col-xs-1">{{getSelectedVehClass(requestData.vehicleTypeID,requestData.vehicleClassID).name}}</div>
                                                <div class="col-xs-4">{{getSelectedVehServiceType(requestData.vehicleTypeID, requestData.vehicleClassID,requestData.serviceTypeID).name}} ({{getSelectedVehServiceType(requestData.vehicleTypeID, requestData.vehicleClassID,requestData.serviceTypeID).cost}} KD)</div>
                                                <div class="col-xs-3">
                                                    <div class="row" ng-repeat="serviceAddonID in requestData.vehicleAddonIDs">
                                                        <div class="col-xs-12">{{getSelectedVehServiceAddon(requestData.vehicleTypeID, requestData.vehicleClassID,requestData.serviceTypeID, serviceAddonID).name}} ({{getSelectedVehServiceAddon(requestData.vehicleTypeID, requestData.vehicleClassID,requestData.serviceTypeID, serviceAddonID).cost}}KD)</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">{{getCostForRequest(requestData)}} KD</div>
                                                <hr />
                                            </div>
                                            <div class="row panel-footer">
                                                <div class="col-xs-7"></div>
                                                <div class="col-xs-3"><strong>Total cost :</strong></div>
                                                <div class="col-xs-2"><strong>{{calculateTotalCost()}} KD</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7 col-sm-offset-5 col-md-5 col-md-offset-7">
                                        <span class="pull-right">
                                            <a href="/Service/listServiceRequests" class="btn btn-link btn-sm">MY Service Requests</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-success" ng-show="currentStep<5">
                    <div class="panel-heading">
                        <h3 class="panel-title">Service Order Summary</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" ng-hide="outputData.serviceRequestVehicles.length>0">
                            <div class="col-sm-12" id="emptymsg">No Service Selected</div>
                        </div>
                        <div ng-show="outputData.serviceRequestVehicles.length>0">
                            <div class="row mainhead">
                                <div class="col-md-3">Vehicle</div>
                                <div class="col-md-4">Service</div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-6 mainhead">Time(hrs)</div>
                                        <div class="col-md-6 mainhead">Cost(KD)</div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div ng-repeat="requestData in outputData.serviceRequestVehicles">
                                <div class="row mainlist">
                                    <div class="col-md-3">{{getSelectedVehType(requestData.vehicleTypeID).type}}</div>
                                    <div class="col-md-4">
                                        <div ng-if="requestData.serviceTypeID != undefined && requestData.serviceTypeID != 0">{{getSelectedVehServiceType(requestData.vehicleTypeID, requestData.vehicleClassID,requestData.serviceTypeID).name}}</div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-md-6 mainlist">{{getSelectedVehServiceType(requestData.vehicleTypeID, requestData.vehicleClassID,requestData.serviceTypeID).duration/60}} hrs</div>
                                            <div class="col-md-6 amountRight">{{getSelectedVehServiceType(requestData.vehicleTypeID, requestData.vehicleClassID,requestData.serviceTypeID).cost|currency:'':3}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row sublist" ng-repeat="serviceAddonID in requestData.vehicleAddonIDs">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-4">
                                        {{getSelectedVehServiceAddon(requestData.vehicleTypeID, requestData.vehicleClassID,requestData.serviceTypeID, serviceAddonID).name}}
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-md-6 sublist">{{getSelectedVehServiceAddon(requestData.vehicleTypeID, requestData.vehicleClassID,requestData.serviceTypeID, serviceAddonID).duration}} mins</div>
                                            <div class="col-md-6 amountRight">{{getSelectedVehServiceAddon(requestData.vehicleTypeID, requestData.vehicleClassID,requestData.serviceTypeID, serviceAddonID).cost|currency:'':3}}</div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </div>
                            <div class="row mainhead">
                                <div class="col-md-7">Total  : </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-6 mainhead">{{calculateTotalDuration(true)}} hrs</div>
                                        <div class="col-md-6 amountRight">{{calculateTotalCost()|currency:'':3}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row sublist">
                                <div class="col-md-12">30 mins included for the service personal to arrive at the location</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


